body {
	/*background-imagen es para imagen de fondo de la pagina*/
	background-image:url("../imagenes/fondorosa.jpg");
	/*font-family es para tipografia de la letra*/
	font-family:"tahoma","lucida console","courier new";
	/*color es para el color de la letra*/
	color:white;
	/*es para el tamaño de la letra*/
	font-size:40px;
	text-align:center;
	}
hr{
	/*es para la lineagrosor en pixeles tipo de linea color*/
	border:3px solid #black;
	/*es para el ancho de la linea*/
	width:80%;
	/*le agrega una cirva a la linea*/
	border-radius:5px;
}
p{
	text-align:justify;
	font-size:30px;
	font-weight:bold;
	/*es para el interdelineado*/
	line-height:1.5;
	/*es para el espacion entre las letras*/
	letter-spacing:2px;
}
table,tr,td{
	border:1px solid white;
	border-spacing:0px;
	background-color:white;
	font-size:15px;
	text-align:center;
}


/*clases*/
.pie{
	text-align:center;
	font-size:15px;
	color:white;
	font-weight:bold;
}

.encabezado{
	text-align:center;
	font-size:35px;
	font-weight:bold;
}



/*divs*/
div#top{
	width:100%;
	height:75px;
	/*background-image:linear-gradient(#DF69FF,#D94AFF);*/
	background-image:linear-gradient(#DF69FF,#D94AFF);
	font-family:fuente-Vogue;
}
div#ppga{
	width:100%;
	height:100px;
	background-image:linear-gradient(#DF69FF,#D94AFF);
	font-family:fuente-Vogue;
}
/*carrousel para imagenes*/
.carrousel{
	width:600px;
	margin:auto;
	box-sizing:border-box;
}
.contecarrousel{
	width:100%;
	height:400px;
	overflow:hidden;
	box-sizing:border-box;
	
}
.itemcarrouseltarjeta{
	width:100%;
	height:100%;
	box-sizing:border-box;
}

.itemcarrousel{
	position:relative;
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.itemcarrouselarrows{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	box-sizing:border-box;	
}
.itemcarrouselarrows> i:hover{
	cursor:pointer;
}
.contercarrouselcontroller{
	width:100%;
	display:flex;
	justify-content:space-evenly;
}
.contercarrouselcontroller> a{
	text-decoration:none;
	font-size:32px;
	color:grey;
}
.itemcarrouselarrows> a> i{
	color:white;
}

/*Cajas para productos*/
.caja{
	height:300px;
	width:250px;
	background:#af7ac5;
	border:1px solid #af7ac5;
	margin:5px;
	text-align:center;
	display:inline-block
}
.caja:hover{
	box-shadow:0 0 10px blue;
	transform:scale(1.3);
	
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:17202a;
	font-weight:bold;
}
.texto-adicional{
	padding-top:5px;
	font-size:15px;
	
}
.descripcion{
	width:600px;
	margin:auto;
	box-sizing:border-box;
	background:#E67E22;
	font-size:20px;
	color:#E67E22;
	font-weight:left;
	
}
.cajas{
	height:270px;
	width:450px;
	background:#af7ac5;
	border:1px solid #af7ac5;
	margin:5px;
	text-align:center;
	display:inline-block
	}
/*menu de navegacion*/
.navegacion{
	display:flex;
	height:100px;
}
.navegacion-item{
	flex:1;
	color:#white;
	font-weight:bold;
	font-size:25px;
	display:flex;
	transition:flez-grow 0.2s;
	justify-content:center;
}
.navegacion-item:hover{
	flex-grow:10;
}
.navegacion-titulo{
	margin:0;
	transform:rotate(-90deg);
	transition:transform;
	font-size:15px;
	color:pink;
}
.navegacion-item:hover .navegacion-titulo{
	transform:rotate(0);
}
.navegacion-item:nth-child(1){
	background:#F96FE6
}
.navegacion-item:nth-child(2){
	background:#F96FE6
}
.navegacion-item:nth-child(3){
	background:#F96FE6
}
.navegacion-item:nth-child(4){
	background:#F96FE6
}

.conta{
	width:500px;
	height:300px;
	background:#F96FE6;
	border:1 px solid #000000;
	margin:5px;
	display:flex;
	
	
	
}

/*Tipografias o fuentes*/
@font-face{
	font-family:fuente-MIXONE;
	src:url(../fuentes/MIXONE.ttf);
}
@font-face{
	font-family:fuente-Vogue;
	src:url(../fuentes/Vogue.ttf);
}
@font-face{
	font-family:fuente-American;
	src:url(../fuentes/American.otf);
}





